<form class="add-comment">
    <ul class="errors">
    </ul>
    <input name="name" type="text" required>
    <textarea name="message"></textarea>
    <input type="submit">
</form>
<ul class="comments">
    {{#comments}}
    <li>
        <h4>{{name}} ({{date}})</h4>
        <div>{{message}}</div>
    </li>
    {{/comments}}
</ul>