$white: #fff;
$dark_blue: #020f17;

.transition {
  transition: all .3s ease-in;
}

.popup_box {
  background: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;

  .popup_content {
    width: 98%;
    overflow: auto;
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 3%;
    transform: translate(-50%,0%);
    padding: 25px;
    background: #e8e8e8;
    box-sizing: border-box;
    border-radius: 5px;
    height: 100%;

    .fa.fa-times {
      position: absolute;
      color: #fff;
      cursor: pointer;
      @extend .transition;
      top: 0;
      right: 0;
      font-size: 2.3em;
      padding: 10px 20px;
      background-color: rgba(5, 20, 41, 0.5);
      text-align: right;
    }

    .fa.fa-times:hover {
      color: $dark_blue;
    }
  }
}